:root {
  /*  colores de uso general para fondo */
  --bg-dark: #30343f;
  --bg-light: #f5f5f5;

  /*  colores de uso general para texto */
  --txt-dark: #111111;
  --txt-med: #4f4f4f;
  --txt-light: #ffffff;
  --txt-destacado: #1d84b5;

  /* tipografía*/

  --txt-font-1: "Raleway", sans-serif;
  --txt-font-2: "Inter", sans-serif;
}

/* clases generales */

.flex {
  display: flex;
}

.s-b {
  justify-content: space-between;
}

.container {
  max-width: 85vw;
  margin: auto;
}

/* -----------------  */

body {
  font-family: var(--txt-font-1);
}

header,
footer {
  background-color: var(--bg-dark);
  color: var(--txt-light);
}

nav > a {
  color: var(--txt-light);
}

a:link {
  text-decoration: none;
}

.banner {
  background-image: url(/img/funkos-banner.webp);
  height: 350px;
  /* modificar height - puesto solo para maquetar */
}
