@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  font-family: var(--txt-font-1);
  color: var(--txt-dark);
  line-height: 1.2;
}

:root {
  /* variables */

  /* -------------------  PALETA DE COLORES -------------------  */
  /*  colores de uso general para fondo */
  --bg-dark: #30343f;
  --bg-light: #fafaff;

  /*  colores de uso general para texto (según la paleta en Components) */

  --clr-primario-solid: #ff3333;
  --clr-primario-900: rgba(255, 51, 51, 0.9);
  --clr-primario-700: rgba(255, 51, 51, 0.7);
  --clr-primario-500: rgba(255, 51, 51, 0.5);
  --clr-primario-300: rgba(255, 51, 51, 0.3);

  --clr-secundario-solid: #1d84b5;
  --clr-secundario-900: rgba(29, 132, 181, 0.9);
  --clr-secundario-700: rgba(29, 132, 181, 0.7);
  --clr-secundario-500: rgba(29, 132, 181, 0.5);
  --clr-secundario-300: rgba(29, 132, 181, 0.3);

  --clr-dark-solid: #1f1f1f;
  --clr-dark-900: rgba(31, 31, 31, 0.9);
  --clr-dark-700: rgba(31, 31, 31, 0.7);
  --clr-dark-500: rgba(31, 31, 31, 0.5);
  --clr-dark-300: rgba(31, 31, 31, 0.3);

  --clr-destacado-solid: #ff1654;
  --clr-destacado-900: rgba(255, 22, 84, 0.9);
  --clr-destacado-700: rgba(255, 22, 84, 0.7);
  --clr-destacado-500: rgba(255, 22, 84, 0.5);
  --clr-destacado-300: rgba(255, 22, 84, 0.3);

  /* colores según plantilla de Figma (diferentes de los de la paleta en Components) */

  --txt-dark: #111111;
  --txt-med: #4f4f4f;
  --txt-light: #ffffff;

  /* -------------------- tipografía -------------------- */

  --txt-font-1: "Raleway", sans-serif;
  --txt-font-2: "Inter", sans-serif;

  /* font-size */

  font-size: 62.5%; /* 1rem = 10px */

  --fs-display: 4.6rem;
  --fs-jumbo: 3.8rem;
  --fs-xlarge: 3rem;
  --fs-large: 2.4rem;
  --fs-medium: 1.8rem;
  --fs-small: 1.6rem;
  --fs-xsmall: 1.4rem;

  /* espacios */
  --sp-128: 12.8rem;
  --sp-68: 6.8rem;
  --sp-48: 4.8rem;
  --sp-36: 3.6rem;
  --sp-28: 2.8rem;
  --sp-24: 2.4rem;
  --sp-20: 2rem;
  --sp-16: 1.6rem;
  --sp-12: 1.2rem;
  --sp-8: 0.8rem;
}

/* ------------------------------------------ */

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

p {
  font-size: var(--fs-medium);
}

/* clases utilitarias */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  transition: all 0.2s;
}

.button:hover,
.button:focus,
.hero .button:hover {
  color: var(--txt-light);
  background-color: var(--clr-primario-900);
}

/* ------------------------------------------- header ------------------------------------- */

header {
  background-color: var(--bg-dark);
  padding: var(--sp-36);
  color: var(--txt-light);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  max-width: 300px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: var(--sp-20);
}

.navbar__link,
.submenu__link {
  font-size: 2rem;
  padding: var(--sp-12) var(--sp-20);
  border-radius: 0.4em;
  /* border-radius: 50px; */
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.navbar__link:hover,
.navbar__link:focus,
.submenu__link:hover,
.submenu__link:focus {
  background-color: var(--clr-primario-900);
}

.navbar__item {
  position: relative;
}

.with-icon {
  display: flex;
  align-items: center;
  gap: var(--sp-8);
}

.with-submenu:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  background-color: var(--bg-dark);
  z-index: 3;
}

/* ---------------------------- banner ---------------------- */

.hero {
  color: var(--txt-light);

  background-image: url(../img/funkos-banner.webp);

  padding: var(--sp-128);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  /* background-attachment: fixed; */
  position: relative;

  /* otra posibilidad para oscurecer la imagen de fondo (pero sin desenfocarla) es: 

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/funkos-banner.webp);


  el falso gradiente entre dos colores iguales (negro transparente) produce una capa oscura sobre la imagen y mejora el contraste con el texto, facilitando la legibilidad - no requiere z-index ni pseudoelementos */
}

.hero::before {
  /* pseudoelemento para oscurecer y desenfocar la imagen de fondo */
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  backdrop-filter: blur(2px);
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* gap: var(--sp-20); */
  z-index: 2; /* a causa del pseudoelemento ::before */
  position: relative;
}

.hero__title {
  font-weight: 700;
  font-size: var(--fs-jumbo);
}

.hero__text {
  font-weight: 400;
  font-size: var(--fs-medium);
  margin-bottom: var(--sp-48);
  margin-top: var(--sp-8);
}

.hero__link {
  /* display: inline-block; */
  color: var(--txt-dark);
  font-family: var(--txt-font-2);
  font-weight: 500;
  font-size: 2rem;
  background-color: var(--txt-light);
  padding: var(--sp-12) var(--sp-68);
  border-radius: 50px;
}

/* ----------------------- main - colecciones ----------------- */

.collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: var(--sp-16) 0;
}

.collection:nth-child(2) .collection__content {
  order: 1;
}

.collection__content {
  display: flex;
  flex-direction: column;
  gap: var(--sp-24);
  align-items: start;
}

.collection__title {
  font-weight: 500;
  font-size: var(--fs-display);
  text-transform: uppercase;
}

.collection__text {
  font-weight: 400;
  font-size: var(--fs-large);
  border-bottom: 2px solid var(--clr-primario-solid);
  padding-bottom: var(--sp-20);
}

.collection__link {
  font-size: var(--fs-medium);
  font-weight: 500;
  background-color: var(--bg-dark);
  color: var(--txt-light);
  padding: var(--sp-16) var(--sp-36);
  border-radius: 50px;
}

.collection__cover {
  /* ? */
}

/* ---------------------------- sección lanzamientos ---------------------- */

.slider {
  display: flex;
  flex-direction: column;
  gap: var(--sp-36);
  margin: var(--sp-68) auto;
}

.slider__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--fs-display);
}

.slider__items {
  display: flex;
  gap: var(--sp-24);
}

.card-item__content {
  display: flex;
  flex-direction: column;
  gap: var(--sp-12);
  padding: var(--sp-16);
}

.card-item {
  font-family: var(--txt-font-2);
}

.card-item__cover {
  display: flex;
  position: relative;
}


.card-item__tag{
  font-size: var(--fs-xsmall);
  text-transform: uppercase;
  color: var(--txt-light);
  background-color: var(--clr-primario-solid);
  padding: var(--sp-8) var(--sp-12);
  position: absolute;
  right: 0;
}


.card-item__cover img {
  animation: fade 0.5s;
}

.card-item__img--back {
  display: none;
}

.card-item__cover:hover .card-item__img--back {
  display: block;
}

.card-item__cover:hover .card-item__img--front {
  display: none;
}

.card-item__license {
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--fs-xsmall);
}

.card-item__name {
  font-weight: 700;
  font-size: var(--fs-medium);
  text-transform: uppercase;
}

.card-item__price {
  font-weight: 400;
  font-size: var(--fs-small);
}

.card-item__promo {
  color: var(--clr-secundario-solid);
  font-size: var(--fs-xsmall);
  font-weight: 700;
}

/* --------------------------- footer --------------------- */

.footer {
  background-color: var(--bg-dark);
  color: var(--txt-light);
  font-weight: 500;
  padding: var(--sp-68);
}


.footer__copy {
  text-align: center;
  padding: var(--sp-68);
}





/* ------------------- animations  ------------------- */



@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
