@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap");

:root {
  /*  colores de uso general para fondo */
  --bg-dark: #30343f;
  --bg-light: #f5f5f5;
  --bg-red: #ff3333;

  /*  colores de uso general para texto */
  --txt-dark: #111111;
  --txt-med: #4f4f4f;
  --txt-light: #ffffff;
  --txt-destacado: #1d84b5;

  /* tipografía*/

  --txt-font-1: "Raleway", sans-serif;
  --txt-font-2: "Inter", sans-serif;

  /* font-weight */

  /* font-size */

  font-size: 62.5%; /* 1rem = 10px */

  --fs-display: 4.6rem;
  --fs-jumbo: 3.8rem;
  --fs-xlarge: 3rem;
  --fs-large: 2.4rem;
  --fs-medium: 1.8rem;
  --fs-small: 1.6rem;
  --fs-xsmall: 1.2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  -------------------- clases generales  -------------------- */

.flex {
  display: flex;
}

.s-b {
  justify-content: space-between;
}

.container {
  max-width: 85vw;
  margin: auto;
}

.destacado {
  color: var(--txt-destacado);
  font-weight: 700;
}

/* ----------------------------------------------------------------------  */

body {
  font-family: var(--txt-font-1);
}

header,
footer {
  background-color: var(--bg-dark);
  color: var(--txt-light);
}

nav a {
  color: var(--txt-light);
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

.nav-ppal {
  display: flex;
  flex-basis: 40%;
  justify-content: flex-end;
  align-items: center;
  gap: 3em;
}

p {
  font-size: var(--fs-medium);
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/img/funkos-banner.webp);
  /* el falso gradiente produce una capa que oscurece la imagen y mejora el contraste con el texto, facilitando la legibilidad */
  height: 350px;
  /* modificar height - puesto solo para maquetar */
  /* background-size: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
}

h2,
h3,
.nuevo {
  text-transform: uppercase;
}

.nuevo {
  display: inline-block;
  background-color: var(--bg-red);
  color: var(--txt-light);
  padding: 1em 3em;
}

h2 span {
  text-transform: none;
}



.copyright {
  text-align: center;
}

.card {
  flex: 0 0 30%;
}

.card img {
  max-width: 80%;
}

.colecciones img {
  /* max-width: 40vw; */
  max-width: 600px;
  border: 1px solid crimson;
}

main article {
  border: 1px black solid;
}

/* border: 1px solid yellow; */

/* ---------------

cambiar: font-size en rem */

.lanzamientos h3 {
  font-weight: 500;
  font-size: 17px;
}

.lanzamientos h3 + p {
  font-weight: 700;
  font-size: 22px;
}
